.dropdown-select {
  display: flex;
  flex-direction: column;
  border-radius: 6px;
  height: min-content;
  min-width: 160px;
  position: relative;
}

.dropdown-select__label {
  padding: 5px 10px;
  color: var(--tertiary);
}

.dropdown-select__arrow {
  position: absolute;
  right: 10px;
  top: 41px;
}

.dropdown-select__select {
  border: 1px solid #ff006e4f;
  border-radius: 6px;
  color: var(--tertiary);
  padding: 5px 10px;
  cursor: pointer;
  height: 37px;
  transition: box-shadow ease-in-out 100ms;
  -moz-appearance: none; /* Firefox */
  -webkit-appearance: none; /* Safari and Chrome */
  appearance: none;
}

.dropdown-select__select:focus {
  outline: none;
  box-shadow: 0 0 0 1px var(--tertiary);
  transition: box-shadow ease-in-out 100ms;
}
