.input-range-container {
  display: flex;
  flex-direction: column;
  border-radius: 6px;
  height: min-content;
  min-width: 160px;
}

.input-test:focus {
  outline: none;
  box-shadow: 0 0 0 1px var(--tertiary);
  border-radius: 6px;
}

.input-range-container__label {
  padding: 5px 10px;
  color: var(--tertiary);
}

.input_range-container__value {
  display: flex;
  justify-content: space-between;
  padding: 0 10px;

  font-size: 12px;
  color: var(--tertiary);
}
