.welcome-container {
  display: flex;
  justify-content: space-between;
  box-shadow: 0px 0px 11px 2px rgb(0 0 0 / 70%);
  border-radius: 14px;
}

.welcome-container__items {
  padding: 40px 20px;
}

.welcome-container__items:first-child {
  text-align: center;
  background-color: var(--tertiary);
  color: var(--white);
  border-radius: 14px 0px 0px 14px;
  width: 30%;
  -webkit-user-select: none;
  user-select: none;
  cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;'><text y='50%'>🥳</text></svg>")
      16 0,
    auto;
}

.welcome-container__items:last-child {
  border-radius: 0px 14px 14px 0px;
  background-color: var(--secondary);
  color: var(--primary);
  width: 70%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.welcome-title {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 20px;
}

.welcome-description {
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 20px;
}

.lottie-container {
  max-width: 440px;
  max-height: 460px;
}

@media (max-width: 900px) {
  .welcome-container__items:first-child {
    width: 50%;
  }
  .welcome-container__items:last-child {
    width: 50%;
  }

  .welcome-title {
    font-size: 2rem;
  }
  .welcome-description {
    font-size: 1rem;
  }
  .navigation-button {
    font-size: 1rem;
  }
}

@media (max-width: 600px) {
  .welcome-container {
    flex-direction: column;
    align-items: center;
    box-shadow: none;
    margin: 30px 10px;
  }
  .welcome-container__items:first-child {
    padding: 0px 20px 20px;
    border-radius: 14px 14px 0px 0px;
    width: 100%;
  }
  .welcome-container__items:last-child {
    width: 100%;
    border-radius: 0px 0px 14px 14px;
  }
  .lottie-container {
    max-width: 200px;
  }
  .welcome-title {
    font-size: 1.5rem;
  }
}
