.welcome-container {
  display: flex;
  justify-content: space-between;
  box-shadow: 0px 0px 11px 2px rgb(0 0 0 / 70%);
  border-radius: 14px;
}

.welcome-container__items {
  padding: 40px 20px;
}

.welcome-container__items:first-child {
  text-align: center;
  background-color: var(--tertiary);
  color: var(--white);
  border-radius: 14px 0px 0px 14px;
  width: 30%;
}

.welcome-container__items:last-child {
  border-radius: 0px 14px 14px 0px;
  background-color: var(--secondary);
  color: var(--primary);
  width: 70%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.welcome-title {
  font-size: 3rem;
  font-weight: 600;
  margin-bottom: 20px;
}

.welcome-description {
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 20px;
}

.lottie-container {
  max-width: 440px;
  max-height: 460px;
}

.navigation-button {
  background-color: var(--tertiary);
  color: var(--white);
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  font-size: 1.1rem;
  font-weight: 600;
  margin-top: 20px;
  cursor: pointer;
  box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.7);
}

.navigation-button:hover {
  animation: pulse 1s infinite;
}

@media (max-width: 800px) {
  .welcome-container__items:first-child {
    width: 50%;
  }
  .welcome-container__items:last-child {
    width: 50%;
  }

  .welcome-title {
    font-size: 2rem;
  }
  .welcome-description {
    font-size: 1rem;
  }
  .navigation-button {
    font-size: 1rem;
  }
}

@media (max-width: 600px) {
  .welcome-container {
    flex-direction: column;
    align-items: center;
    box-shadow: none;
    margin: 30px 10px;
  }
  .welcome-container__items:first-child {
    padding: 0px 20px 20px;
    border-radius: 14px 14px 0px 0px;
    width: 100%;
  }
  .welcome-container__items:last-child {
    width: 100%;
    border-radius: 0px 0px 14px 14px;
  }
  .lottie-container {
    max-width: 200px;
  }
  .welcome-title {
    font-size: 1.5rem;
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}
