:root {
  --primary: #011627;
  --secondary: #14213d;
  --tertiary: #ff006e;
  --white: white;
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--primary);
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    sans-serif;
  margin: 0px;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  top: 0px;
  bottom: 0;
  right: 0;
  left: 0;
}

main {
  max-width: 1000px;
  width: 80%;
}

footer {
  text-align: center;
  padding: 20px;
  font-weight: 100;
  color: var(--white);
}

@media (max-width: 600px) {
  main {
    width: 100%;
  }
}
