:root {
  --primary: #011627;
  --secondary: #14213d;
  --tertiary: #ff006e;
  --white: white;
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--primary);
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    sans-serif;
  margin: 0px;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  top: 0px;
  bottom: 0;
  right: 0;
  left: 0;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

main {
  max-width: 1000px;
  width: 80%;
}

footer {
  text-align: center;
  padding: 20px;
  font-weight: 100;
  color: var(--white);
}

.general-button {
  background-color: var(--tertiary);
  color: var(--white);
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  font-size: 1.1rem;
  font-weight: 600;
  margin-top: 20px;
  cursor: pointer;
  box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.7);
}

.general-button:hover {
  animation: pulse 1s infinite;
}

@media (max-width: 600px) {
  main {
    width: 100%;
  }

  body {
    position: relative;
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}
